{% extends "isehan/base.html" %}
{% block content %}
{% load static %}
    <div class="row-sm">
    {% for object in object_list %}

        <div class="col-md-3">
            <figure class="card card-product">
                <div class="img-wrap">
                    <a href="{% url 'isehan:item_detail' object.pk %}">
                        <img src="{{ object.thumbnail.url }}">
                    </a>
                </div>
                <figcaption class="info-wrap">
                    <h6 class="title "><a href="{% url 'isehan:item_detail' object.pk %}">{{ object.name }}</a></h6>
                    <div class="price-wrap">
                        <span class="price-new">{{ object.price }}円</span><br>
                    </div>
                </figcaption>
            </figure>
        </div>

    {% endfor %}
    </div>
{% endblock %}